@import "tailwindcss";

.bg-linear {
    background: linear-gradient(90deg, #ff6900, #ff6a008a),
        url("https://amapa.ind.br/instalacoes/imagens-tipo/instalacoes-armazenagens/expositores-para-pet-shop.jpg") center /cover;
}

@layer utilities {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #0d542b inset !important;
        -webkit-text-fill-color: #ffffff !important;
    }
}

body {
    background-color: rgb(207, 214, 219);
}


.input-custom {
    @apply bg-linear-to-b from-green-700 to-green-900 rounded-3xl p-4 flex items-center gap-2 border border-double border-green-700 w-full outline-none text-gray-100
}